################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/bin
*.nupkg
/obj
*.suo
/.vs/config
/Ara2.ToolsExtension/Ara2.ToolsExtension/bin
/Ara2.ToolsExtension/Ara2.ToolsExtension/obj
*.user
/Ara2.Session2/bin/Debug
/Ara2.Session2/obj/Debug
