<div id="DivCanvas" style=" position: absolute; width: 486px; height: 406px; top: 0px; left: 0px;">
    
    <div id="Div1" style="position: absolute; left: 27px; top: 23px; width: 167px; height: 8px;">Colunas a Agrupar</div>
    <select id="TxtColunasGroup" 
        style=" position: absolute; width: 194px; height: 138px; top: 53px; left: 20px;" 
        multiple="multiple"></select>


    <div id="bCima" style="position: absolute; left: 230px; top: 71px; width: 20px; height: 15px;"> </div>
    <div id="bBaixo" style="position: absolute; left: 230px; top: 99px; width: 20px; height: 15px;"> </div>

    <div id="bAdd" style="position: absolute; left: 230px; top: 146px; width: 20px; height: 15px;"> </div>
    <div id="bEx" style="position: absolute; left: 230px; top: 170px; width: 20px; height: 15px;"> </div>

    <select id="TxtColunas" style=" position: absolute; width: 197px; height: 133px; top: 54px; left: 264px;" 
        multiple="multiple"></select>
    
    <div id="Div2" style="position: absolute; left: 26px; top: 202px; width: 167px; height: 8px;">Colunas a Somar</div>

    <select id="TxtColunasGroupSum" 
        style=" position: absolute; width: 194px; height: 114px; top: 233px; left: 22px;" 
        multiple="multiple"></select>

    <div id="bAddSum" style="position: absolute; left: 227px; top: 268px; width: 20px; height: 15px;"> </div>
    <div id="bAddSumR" style="position: absolute; left: 226px; top: 302px; width: 20px; height: 15px;"> </div>

    <select id="TxtColunasGroupSumCols" style=" position: absolute; width: 197px; height: 111px; top: 234px; left: 264px;" 
        multiple="multiple"></select>

    <div id="bConfirmar" style="position: absolute; left: 41px; top: 372px; width: 60px; height: 15px;">Confirmar</div>
    <div id="bCancelar" style="position: absolute; left: 327px; top: 371px; width: 60px;">Cancelar</div>
</div>		  
